<h1 onload="AccountKit.init();">Login</h1>

<input value="+880" id="country_code" />
<input placeholder="phone number" id="phone_number"/>
<button onclick="smsLogin();">Login via SMS</button>
<div>OR</div>
<input placeholder="email" id="email"/>
<button onclick="emailLogin();">Login via Email</button>

<script>
    // initialize Account Kit with CSRF protection
    AccountKit_OnInteractive = function(){
        AccountKit.init(
            {
                appId:"437068036891202",
                state:"yRv34oCbQ+pFaqxzNGNOzKCbgc4yx0u1Km1uZMrO4gsFcktBAaT/1avKjsh/c6CZfkB53YPgbzdEML82eqGm3w==",
                version: "v1.0",
                fbAppEventsEnabled:true,
                redirect:"http://localhost:3001/sessions"
            }
        );
    };

    // login callback
    function loginCallback(response) {
        if (response.status === "PARTIALLY_AUTHENTICATED") {
            var code = response.code;
            var csrf = response.state;
            console.log(code);
            console.log(csrf);

        }
        else if (response.status === "NOT_AUTHENTICATED") {
            // handle authentication failure
            console.log(response.status);

        }
        else if (response.status === "BAD_PARAMS") {
            // handle bad parameters
            console.log(response.status);

        }
    }

    // phone form submission handler
    function smsLogin() {
        var countryCode = document.getElementById("country_code").value;
        var phoneNumber = document.getElementById("phone_number").value;
        AccountKit.login(
                'PHONE',
                {countryCode: countryCode, phoneNumber: phoneNumber}, // will use default values if not specified
                loginCallback
        );
    }

    // email form submission handler
    function emailLogin() {
        var emailAddress = document.getElementById("email").value;
        AccountKit.login(
                'EMAIL',
                {emailAddress: emailAddress},
                loginCallback
        );
    }
</script>