<!DOCTYPE html>
<html>
    <head>
      <title>FinancialSolution</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <script src="https://sdk.accountkit.com/en_US/sdk.js"></script>
      <%= csrf_meta_tags %>
    </head>

    <body>
        <%= yield %>
    </body>
</html>
